<!DOCTYPE html>
<html lang="en" ng-app="libraryApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Energia Libraries</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="app/css/app.css" rel="stylesheet">

    <script src="bower_components/angularjs/angular.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular-lodash/angular-lodash.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/controllers.js"></script>
  </head>
  <body>
    <div ng-controller="FilterController as filterCtrl">
      <h4>Categories</h4>
      <ul class="nav nav-pills" ng-controller="CategoryController as categoryCtrl">
        <li ng-repeat="category in categories" ng-class="{ active: filterCtrl.isCategoryActive(category.name) }">
          <a href ng-click="filterCtrl.toggleCategory(category.name)">{{category.name}}</a>
        </li>
      </ul>
      <h4>Boards</h4>
      <ul class="nav nav-pills" ng-controller="BoardController as boardCtrl">
        <li ng-repeat="board in boards" ng-class="{ active: filterCtrl.isBoardActive(board.name) }">
          <a href ng-click="filterCtrl.toggleBoard(board.name)">{{board.name}}</a>
        </li>
      </ul>
      <ul ng-controller="LibraryController as libraryCtrl">
        <table class="table table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th>Library Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="library in libraries | filter:filterCtrl.filterResults:false">
              <td>{{library.name}}</td>
              <td>{{library.description}}</td>
            </tr>
        </table>
      </ul>
    </div>
  </body>
</html>