<!DOCTYPE html>
<html lang="en" ng-app="libraryApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Energia Libraries</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="app/css/app.css" rel="stylesheet">

    <script src="bower_components/angularjs/angular.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/controllers.js"></script>
  </head>
  <body>
    <div>
      <ul ng-controller="CategoryController as categoryCtrl">
        <li ng-repeat="category in categories">
          {{category.name}}
        </li>
      </ul>
      <ul ng-controller="BoardController as boardCtrl">
        <li ng-repeat="board in boards">
          {{board.name}}
        </li>
      </ul>
      <ul ng-controller="LibraryController as libraryCtrl">
        <li ng-repeat="library in libraries">
          {{library.name}}
        </li>
      </ul>
    </div>
  </body>
</html>